body {
    font: normal 15px 'Lato', sans-serif;
    color: #000;
    background-color: white;
}

header {
    /* background-color: #fcfbfd; */
    /* background-color: #F4FAF2; */
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #ccc;
}

#heart {
    width: 162px;
    text-align: right;
    color: #a55fc1;
    font-size: 27px;
    padding-right: 34px;
    cursor: pointer;
}

#logo {
    height: 64px;
    padding-left: 34px;
    cursor: pointer;
}

button {
    background-color: #74C15F;
    border: none;
    text-align: center;
    font-size: 14px;
    color: #F4F6F6;
    padding: 9px 23px 9px 17px;
    border-radius: 27px;
    transition: All 0.1s ease;
    cursor: pointer;
    margin-left: -55px;
}

button:focus {
    outline: none;
}

button:hover {
    /* background-color: #4e255e; */
    background-color: #a55fc1;
}

button i {
    margin-right: 8px;
}

#searchField {
    background-color: white;
    text-align: left;
    font-size: 14px;
    padding: 8px 55px 8px 16px;
    border: 1px solid #ccc;
    border-radius: 27px;
}

#searchField:focus {
    outline: none;
}

#big-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 109px);
    overflow: hidden;
}

#recipeListSection {
    width: 355px;
    overflow-y: auto;
    background-color: #f5ecf8;
}

.recipeListEl {
    padding: 16px;
    border-bottom: 1px dotted #ccc;
    display: flex;
    cursor: pointer;
    align-items: center;
    cursor: pointer;
}

.recipeListEl:last-child {
    border-bottom: none;
}

.selected {
    background-color: #eddef2;
    /* background-color: #f5ecf8; */
}

img.thumb {
    width: 100px;
    margin-right: 20px;
}

#recipeSection {
    width: calc(100% - 355px);
    padding: 16px;
    overflow-y: auto;
    background-color: white;
}

#recipeSection img {
    max-width: 500px;
    margin-bottom: 16px;
}

.recipeName {
    padding: 0 16px;
    text-transform: uppercase;
    color: #74C15F;
    font-size: 18px;
}

.iconsWrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 500px;
}

.iconsWrapper i {
    margin-right: 7px;
    color: #a55fc1;
}

.iconsWrapper span {
    font-size: 13px;
}

.servingsEl {
    width: 33.33%;
}

.cookingTimeEl {
    width: 33.33%;
}

.heartEl {
    width: 33.33%;
    cursor: pointer;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
}

.ingredientsWrapper {
    padding: 0 16px;
    width: 30%;
}

.ingredientsWrapperName {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.instructionsWrapper {
    padding: 0 16px;
    width: 70%;
}

.instructionsWrapperName {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

footer p {
    font-size: 11px;
    color: #ccc;
    text-align: center;
}